@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #1E73BE;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid var(--scrollbar-track);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.editorjsdiv h2 {
  font-weight: 600;
  font-size: 18px;
}
.editorjsdiv h3, h4, h5 {
  font-weight: 500;
  font-size: 16px;
}

.editorjsdiv li {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 25px;
}

@layer base {
  :root {
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
  }
  .dark {
    --scrollbar-track: #2c2c2c;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-hover: #333;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-white text-black dark:bg-gray-900 dark:text-white;
  }
}